/HelloGradle/build/
/Verkkokauppa1/build/
/RiippuvuuksienInjektointi2/.nb-gradle/
/MockitoDemo/.nb-gradle/
/MockitoDemo/build/
/MatkakorttiMockito/.nb-gradle/
/MatkakorttiMockito/build/
/VerkkokauppaSpring/.nb-gradle/
/VerkkokauppaSpring/build/
/viikko6/IntJoukkoSovellus/.nb-gradle/
/viikko6/Tennis/.nb-gradle/
/viikko6/IntJoukkoSovellus/build/
/viikko6/Tennis/build/